<p><b>Police shootings of African Americans</b></p>

<p>The controversy ignited by police shootings around the country has spurred new efforts to measure fatal encounters with law enforcement, and the figures suggest black people are overrepresented among the dead in significant ways.</p>

<p>The California Department of Justice looked at “arrest-related” deaths from 2005 through 2014, which were mostly police shootings but also included accidents, suicides and illnesses. African American people made up 6 percent of the state’s population, 17 percent of those arrested and 21 percent of arrest-related deaths.</p>

<p>The state’s report on homicides in 2015 found that 18 percent of people killed by police were black.</p>

<p>The Washington Post, which sought to document every fatal police shooting in the U.S. last year, counted 990 cases nationwide and 188 in California. Black people made up 13 percent of the U.S. population, 26 percent of those killed and 41 percent of those killed while unarmed.</p>
