<p>It’s definitely a harsh climate being a black man in this world today. I feel an obligation as a musician, activist and community leader to be on the front line and let others who struggle, who are oppressed, understand that we stand in solidarity.</p>

<p>We become frustrated and enraged, and we realize we’re just a bullet away from being a hashtag. Being a black man in America, I can go out today and I could be next.</p>

<p>In 2016, we’re still having the same talks we had in the 1930s, ’40s, ’50s — we’re still dealing with that. The same problems that existed in the ’70s are still going on. The same things Martin Luther King Jr. talked about and Frederick Douglass wrote about are still going on in 2016. Where is the progression?</p>

<p>Knowing your rights means nothing when we are dealing with people that don’t respect rights. The judicial system is not set up for us to win, the rules can be broken on sight, and then the officers who have broken the rules are protected. We have to understand that it’s not fair, but we don’t want to give them any other reason to murder us.</p>
