<p>It's extremely sad, because I see a lost opportunity in a lot of these cases with young black men that for whatever reason no longer have an opportunity to enjoy their lives and raise their children.</p>

<p>I can't help but tie in my own experience in law enforcement, so of course each time I look at the videos I think, "Could this have been resolved without gunplay? Could this have been just a physical struggle for control?" I've been in similar scenarios. It can be accomplished. I do believe a lot more interactions could be resolved without gunfire — not all, unfortunately — but we could have a better success rate than we do.</p>

<p>When you're working in a neighborhood that's predominantly African American and you are African American, people are going to expect things from you. They're going to expect you to be professional and friendly — they're expecting more of you.</p>

<p>My family has told me it's time for me to quit. My mother said, "For safety, you can do something else." My family friends and nieces said, "Why do you want to do that? This is what you're known for." But I have some Boy Scout in me — if everyone turned their back on something when it got a little tough, we would never accomplish anything.</p>

<p>As a civilian, I've had officers pull me over and be blatantly rude, mistrust me when I tell them I'm really going someplace, expecting me to be up to no good or mistaking me for a criminal. It's not a pleasant experience. Who likes to be thought of as a criminal right from step one? Nobody.</p>

<p>But it helps me in a way — I've had the experience. I do understand it. By no means do I try to tell people when they ask me about officers on the street, "No, this didn't happen" or "These officers didn't do this." I wish I could tell them that. You may have 80 to 90 percent of those in the profession doing the right thing, but the percentage that doesn't can make a huge negative impact.</p>

<p>So that is one of my goals: to always speak to someone with basic respect.</p>
