<p>When I look at what’s happening now, it opens up the wound of my son being killed — but that’s not to say that the wound has ever closed. It brings back all those emotions that I felt. When I instructed Oscar to take BART to San Francisco that night, I thought that was the safest way there. Never did I expect for him to be killed, and particularly not by a police officer.</p>

<p>When I found out, I was in disbelief. We are raised to respect law enforcement. So when you receive a call, or someone comes and tells you your child was shot by the police, you go through that disbelief period. Then you come to a realization that it really happened. Your emotions become like a roller coaster, up and down. You feel hurt, confused, angry. You feel different emotions all at the same time. You don’t know what to do. When it’s the police, who do you go to for help? Who do you turn to?</p>

<p>I didn’t watch the videos of my son being shot at first. I almost had to be barred from television, because every time I turned on the TV, it was on. I watched it years later. I watched it because I wanted to see why and I needed to see it so I could say something and talk about it. Hearing my son say to the officer, “You shot me,” it pierced my heart. It has really pierced my heart.</p>

<p>Forever I will never be the same.</p>

<div class="top-btn">
    <button class="to-top"><i class="fa fa-angle-double-up"></i></button>   
</div>