<p>After the most recent shootings, I got home from class and checked my Twitter timeline. It was a complete listing of details about deaths. It was overwhelming.</p>

<p>Even though the videos kept reappearing on my feed, I remained frozen in my seat for two hours. I scrolled through and refreshed my social media sites, thinking: “Why?” and “Not again.” After close to three hours of trying to make sense of all the deaths, I reminded myself that if I didn’t get up, I’d be on my laptop until 1 a.m. in the same state of shock.</p>

<p>I decided to get up, go for a run, then write about how I was feeling in order to process my emotions.</p>

<p>It has been very painful but rewarding coming to consciousness about these things. They’ve always been happening, but social media allows us to magnify what’s happening around us.</p>

<p>Through educating myself about the climate in America and organizing to affirm the worth of black lives, I’ve learned how to love and appreciate myself, my culture and my identity more. It’s never just been political — it’s always been deeply personal as well.</p>