header {
	box-shadow: none;
}
.title {
	letter-spacing:10px;
	line-height: 1.2;
	padding:0 15px;
	margin-top:0.5em;
	position: absolute;
  top: 40px;
  z-index: 2;
  left: 0;
  right: 0;
  opacity: 0;

	h1{
		margin: 0;
	}

	@media (max-width: 768px ) {
		font-size:2em;
		margin:1em 0 2em;
    position: static;
	}

	@media (max-width: 480px ) {
		font-size:1em;
	}

	button {
		font-size: 18px;
		background-color: #dedede;
		color:#000;
	}

}

.full-width-img {
	position: relative;
	margin: 0;
}

.intro-container {
	position: relative;
	min-height: 800px;

	@media (max-width: 768px){
		min-height:inherit;
	}
}

.intro {

  p {
  	max-width: 800px;
  	color:#fff;
  	font-family: $sans-serif-light;
  	font-size: 18px;
  	letter-spacing: normal;
  	line-height: 1.58;

  	@media (max-width: 480px){
  		font-size:0.7em;
  		margin-top: 0.5em;
  	}
  }

}

.intro-bg{
  width: 100%;
  padding: 2em 0 0;

  img {  	
	  width: 100%;
  }
}

.text {
	font-family: Georgia, serif;
	padding: 2em 0;
  background: white;
  color: #333;	
  clear: left;
}

.right-quote {
  top: 50px;
	font-size: 2.5em;
	line-height: 1.4;
	position: absolute;
	max-width: 450px;
	left: 0;
	opacity:0;

	@media (max-width:768px){
		font-size:2em;
	}

	@media (max-width:630px){
		font-size: 1.5em;
	}

	@media (max-width:500px){
		font-size: 1em;
		top:25px;
	}
}

.quote {
  opacity: 0;
  position: absolute;
  bottom: 16%;
  font-size: 1.59em;
  max-width: 450px;
  left: 20px;

  &.top {
    top: 37%;
      @media (max-width:768px){
        top:30%;
      }
  }

  &.right {
    text-align: right;
    left: 64%;
    bottom: 28%;
  }

  @media (max-width:768px){
    bottom: 8%;
    font-size: 1.2em;
    max-width: 269px;
  }

  @media (max-width:695px){
    position: static;
    max-width: 700px;
    margin-top: 1em;
    font-size:1em;
    text-align:right;
  }

}

.showquote {
	position: absolute;
  top: 50%;

  &.early{
  	top:37%;
  }

  &.wanda {
  	top:30.5%;

  	@media (max-width:768px){
  		top:40%;
  	}
  }
} 

.show {
	opacity: 1;
 transition: opacity .5s ease-in-out;
   -moz-transition: opacity .5s ease-in-out;
   -webkit-transition: opacity .5s ease-in-out;
}

.dim {
	@media (max-width: 768px){
		display:none;
	}
}

.portrait {
  padding: 2em 0 0;
}

.vertical {
	float: left;
  width: 50%;

  img {
  	width: 100%;
  }
}

.subhead {
	text-align:center;

	h2{
		font-family: $sans-serif-light;
	  max-width: 500px;
    margin: 0 auto;
    padding: 0 15px;

    @media (max-width: 480px) {
    	font-size:1.3em;
    }
	}

	p{
		font-family: $sans-serif-light;
		margin-bottom: 2em;
    max-width: 560px;
    font-size: 0.9em;

		@media (max-width: 480px){
			font-size:0.7em;
		}
	}
}

hr {
	margin-top: 0;
	width: 50%;

	@media (max-width: 480px){
		width:75%;
	}
}

.credits {
	font-family:$sans-serif;
}